body{
	font-family: 'Encode Sans Condensed', sans-serif;
	margin: 0px;
	padding: 0px;
	background-color: #e3f2fd;
}

/*Heading*/

.heading-container{
	width: 100%;
	min-height: 50px;
	max-height: 100px;
	float:center;
	background: #0d47a1;
	border-radius: 0px 0px 10px 10px;
	position: fixed;
	animation-name: HeadingContainer;
	animation-duration: 1000ms;
	box-shadow: 5px 5px #888888;
}

@keyframes HeadingContainer{
	0%{
		min-height: 0px;
		max-height: 0px;
	}

	100%{
		min-height: 50px;
		max-height: 100px;
	}
}

.heading{
	margin-left: auto;
	margin-right: auto;
	float: center;
	text-align: center;
	color: #FFFFFF;
	font-size: 30px;
	padding: 10px;
	text-transform: uppercase;
}

.subheading{
	margin-left: auto;
	margin-right: auto;
	float: center;
	text-align: center;
	color: #FFFFFF;
	font-size: 18px;
	text-transform: uppercase;
	padding: 10px;
}

/*Subtext*/

.subtext{
	width: 100%;
	min-height: 175px;
	max-height: 250px;
	border-radius: 0px 0px 10px 10px;
	border: 2px solid #b1bfca;
	animation-name: Subtext;
	animation-duration: 1000ms;
	background-color: #FFFFFF;
	display: inline-block;
}

@keyframes Subtext{
	0%{
		min-height: 0px;
		max-height: 0px;
	}

	100%{
		min-height: 175px;
		max-height: 250px;
	}
}

/*Content*/

.content-container{
	width: 90%;
	min-height: 200px;
	float: center;
	margin-right: auto;
	margin-left: auto;
}

.content{
	padding: 20px;
	color: #000000;
	font-size: 20px;
	display: inline-block;
	animation-name: Content;
	animation-duration: 1000ms;
}

.content-right{
	float: right;
	margin-left: 50%;
	border: 2px solid #0d47a1;
	width: 50%;
	clear: both;
	padding: 20px;
	margin: 20px;
	border-radius: 4px;
	background-color: #5e92f3;
	animation-name: Content;
	animation-duration: 1000ms;
}

.content-left{
	float: left;
	margin-right: 50%;
	border: 2px solid #0d47a1;
	width: 50%;
	clear: both;
	padding: 20px;
	margin: 20px;
	border-radius: 4px;
	background-color: #5e92f3;
	animation-name: Content;
	animation-duration: 1000ms;
}

.content-centred{
	float: center;
	margin-right: auto;
	margin-left: auto;
	border: 2px solid #0d47a1;
	width: 70%;
	clear: both;
	padding: 20px;
	margin: 20px;
	border-radius: 4px;
	background-color: #5e92f3;
	animation-name: Content;
	animation-duration: 1000ms;
}

@keyframes Content{
	0%{
		opacity: 0;
	}

	100%{
		opacity: 1;
	}
}

/*Hides*/

.hide-1000{
	opacity: 1;
	animation-name: Hide1000;
	animation-duration: 1000ms;
}

@keyframes Hide1000{
	0%{
		opacity: 0;
	}

	99%{
		opacity: 0;
	}

	100%{
		opacity: 1;
	}
}

/*Team Cards*/

.team-card{
	height: 70px;
	width: 60px;
	background-color: #5e92f3;
	clear: none;
}

.team-name{
	color: #FFFFFF;
	text-transform: uppercase;
}
/*NavBar*/
.dropdown-content{
	display: none;
	postion:absolute;
	min-width:160px;

}
.dropbutton {
	background-color: #E3F2FD;
	color: #FFFFFF;
	padding: 16px;
	font-size: 16px;
	border: none;
	height: 20px;
}
.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #E3F2FD;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,1);
	z-index: 1;
}

.dropdown-content a {
	color: #FFFFFF;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}
.dropdown-content a:hover {background-color: #B1BFCA}
.dropdown:hover .dropdown-content {
	display: block;
}
.dropdown:hover .dropbutton {
	background-color: #B1BFCA;
}
.navbar{	
	background-color:#e3f2fd;
	position:fixed;
	top: 0;
	width:110%;
	height:40px;
}
