html{
	--colour1: #e3f2fd;
	--colour2: #ffffff;
	--colour3: #5e92f3;
	--colour4: #0d47a1;
	--colour5: #5472d3;
	--colour6: #002171;

}
body{
	font-family: 'Encode Sans Condensed', sans-serif;
	margin: 0px;
	padding: 0px;
	background-color: var(--colour1);
	overflow-x: hidden;
}

.main {
	margin-top: 40px;
}

.fade-out{
	animation-name: PageFadeOut;
	animation-duration: 700ms;
}

@keyframes PageFadeOut{
	0%{
		opacity: 1;
	}

	100%{
		opacity: 0;
	}
}

/*Heading*/

.heading-container{
	width: 100%;
	min-height: 50px;
	max-height: 100px;
	float:center;
	background: var(--colour4);
	border-radius: 0px 0px 10px 10px;
	position: fixed;
	animation-name: HeadingContainer;
	animation-duration: 1000ms;
	box-shadow: 5px 5px #888888;
}

@keyframes HeadingContainer{
	0%{
		min-height: 0px;
		max-height: 0px;
	}

	100%{
		min-height: 50px;
		max-height: 100px;
	}
}

.heading{
	margin-left: auto;
	margin-right: auto;
	float: center;
	text-align: center;
	color: var(--colour2);
	font-size: 30px;
	padding: 10px;
	text-transform: uppercase;
}

.subheading{
	margin-left: auto;
	margin-right: auto;
	float: center;
	text-align: center;
	color: var(--colour2);
	font-size: 18px;
	text-transform: uppercase;
	padding: 10px;
}

/*Subtext*/

.subtext{
	width: 100%;
	min-height: 175px;
	max-height: 250px;
	border-radius: 0px 0px 10px 10px;
	border: 2px solid #b1bfca;
	animation-name: Subtext;
	animation-duration: 1000ms;
	background-color: var(--colour3);
	display: inline-block;
}

@keyframes Subtext{
	0%{
		min-height: 0px;
		max-height: 0px;
	}

	100%{
		min-height: 175px;
		max-height: 250px;
	}
}

/*Content*/

.content-container{
	width: 100%;
	min-height: 200px;
	float: center;
	margin-right: auto;
	margin-left: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	display: inline-block;
	border: 2px solid var(--colour4);
}

.content{
	padding: 20px;
	font-size: 20px;
	display: inline-block;
	color: var(--colour2);
	animation-name: Content;
	animation-duration: 1000ms;
}

.content-white{
	padding: 20px;
	color: var(--colour2);
	font-size: 20px;
	display: inline-block;
	animation-name: Content;
	animation-duration: 1000ms;
}

.content-right{
	float: right;
	margin-left: 50%;
	border: 2px solid var(--colour4);
	color: var(--colour2);
	width: 50%;
	clear: both;
	padding: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	border-radius: 4px;
	background-color: var(--colour3);
	animation-name: Content;
	animation-duration: 1000ms;
}

.content-left{
	float: left;
	margin-right: 50%;
	border: 2px solid var(--colour4);
	width: 50%;
	clear: both;
	padding: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	border-radius: 4px;
	background-color: var(--colour3);
	animation-name: Content;
	animation-duration: 1000ms;
}

.content-centred{
	float: center;
	margin-right: auto;
	margin-left: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	border: 2px solid var(--colour4);
	width: 50%;
	clear: both;
	padding: 20px;
	border-radius: 4px;
	background-color: var(--colour3);
	animation-name: Content;
	animation-duration: 1000ms;
}

.content-link{
	color: var(--colour1);
}

.content-link:hover{
	color: var(--colour2);
	cursor: pointer;
}

@keyframes Content{
	0%{
		opacity: 0;
	}

	100%{
		opacity: 1;
	}
}

.overlay-content{
 	color:var(--colour2);
}

.hidden{
	display: none;
}

/*Overlay*/

#team-overlay{
	background-color: rgba(0, 0, 0, 0.5);
	color: var(--colour2);
	position: fixed;
	display: none;
	width: 100%;
	height: 100%;
	z-index: 10;
	top: 0px;
	left: 0px;
}

#overlay{
	background-color: rgba(0, 0, 0, 0.5);
	color: var(--colour2);
	position: fixed;
	display: none;
	width: 100%;
	height: 100%;
	z-index: 10;
	top: 0px;
	left: 0px;
}
#customise{
	background-color: rgba(0, 0, 0, 0.5);
	color: var(--colour2);
	position: fixed;
	display: none;
	width: 100%;
	height: 100%;

	z-index: 10;
	top: 0px;
	left: 0px;
}
.overlay-fade-out{
	animation-name: OverlayFadeOut;
	animation-duration: 750ms;
}

.overlay-fade-in{
	animation-name: OverlayFadeIn;
	animation-duration: 700ms;
}


@keyframes OverlayFadeOut{
	0%{
		opacity: 1;
	}
	100%{
		opacity: 0;
	}
}

@keyframes OverlayFadeIn {
	from{opacity: 0;}
	to{opacity: 1;}
}

.overlay-box{
	min-width: 60%;
	max-width: 75%;
	overflow: auto;
	height: 100%;
	background-color: var(--colour4);
	border-radius: 25px;
	float: center;
	margin-right: auto;
	margin-left: auto;
}

.close-btn{
	--hover-color:var(--colour6);
	padding: 20px;
	background-color: #9472d3;
	color: white;
	border-radius: 4px;
	box-sizing: content-box;
	max-width: 50px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	animation-name: unhover;
	animation-duration: 300ms;
	animation-fill-mode: forwards;
}

.close-btn:hover{
	--hover-color:var(--colour6);
	animation-name: hover;
	animation-duration: 300ms;
	animation-fill-mode: forwards;
}

.overlay-content{
	float: center;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
}

/*Hides*/

.hide-1000{
	opacity: 1;
	animation-name: Hide1000;
	animation-duration: 1000ms;
}

@keyframes Hide1000{
	0%{
		opacity: 0;
	}

	99%{
		opacity: 0;
	}

	100%{
		opacity: 1;
	}
}

@keyframes hover {
	from {background-color: var(--colour5);}
	to {background-color: var(--hover-color);}
	
}

@keyframes unhover{
	/*#0d47a1*/
	from {background-color: var(--hover-color);}
	to {background-color: var(--colour5);}
}

#hover-test:hover{
	--hover-color:var(--colour4);
	animation-name: hover;
	animation-duration: 300ms;
	animation-fill-mode: forwards;
}

#hover-test{
	--hover-color:var(--colour4);
	animation-name: unhover;
	animation-duration: 300ms;
	animation-fill-mode:forwards;
}

/*Team Cards*/

.team-card{
	height: 70px;
	width: 60px;
	background-color: #5e92f3;
	clear: none;
}

.team-name{
	color: var(--colour2);
	text-transform: uppercase;
}

/*NavBar*/

.dropdown-content{
	display: none;
	postion:absolute;
	min-width:160px;

}

.dropbutton {
	--hover-color:var(--colour4);
	color: var(--colour2);
	text-align:center;
	padding: 16px;
	font-size: 16px;
	border: none;
	height: 20px;
	border-radius: 4px;
	animation-name: unhover;
	animation-duration: 300ms;
	animation-fill-mode: forwards;
}

.dropbutton:hover{
	--hover-color:var(--colour4);
	animation-name: hover;
	animation-duration: 300ms;
	animation-fill-mode: forwards;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: var(--colour5);
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
	z-index: 2;
	border-radius: 4px;
	padding: 5px;
}

.dropdown-content .dropdown-item {
	--hover-color:var(--colour4);
	color: var(--colour2);
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	border-radius: 4px;
	animation-name: unhover;
	animation-duration: 300ms;
	animation-fill-mode: forwards;
}

.dropdown-content .dropdown-item:hover {
	--hover-color:var(--colour4);
	animation-name: hover;
	animation-duration: 300ms;
	animation-fill-mode: forwards;
}

.dropdown:hover .dropdown-content {
	display: block;
	animation-name: Content;
	animation-duration: 200ms;
}

.navbar{	
	background-color:var(--colour4);
	position:fixed;
	top: 0;
	width:110%;
	height:40px;
	z-index:2;
	clear: none;
	box-sizing: content-box;
	color:var(--colour2);
}
